.dialogsWrapper{
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 55px 1fr;
}

.dialogsWrapper>span{
    grid-column: 1/span 2;
    grid-row: 1;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-style: italic;
    color: #000;
    justify-self: center;
    align-self: center;
}
.dialogs{
    grid-row: 2;
    position: relative;
}
.dialog{
    padding: 10px;
}

.dialog a{
    text-transform: none;

}

.dialog a.online:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    position: absolute;
    left:-15px;

}


.dialog a.ofline:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    position: absolute;
    left:-15px;
    /*padding-right: 30px;*/
}

.dialog.active{
    color: #709fdc;
}